.jb-weather-widget-forecast-container {
  text-align: center;
}

.jb-weather-widget-forecast-icon-wrapper {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.jb-weather-widget-forecast-text-wrapper {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
}

.jb-weather-widget-forecast-time-wrapper {
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
}

.jb-weather-widget-text {
  padding: 0;
  margin: 0;
}

.jb-weather-widget-text-primary {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.jb-weather-widget-text-secondary {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.jb-weather-widget-today-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
}

.jb-weather-widget-today-inner {
  display: flex;
  align-items: center;
}

.jb-weather-widget-today-icon-container {
  margin-right: 1rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jb-weather-widget-today-temperature-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.jb-weather-widget-today-temperature {
  font-size: 3rem;
  margin: 0;
  line-height: 100%;
}

.jb-weather-widget-today-details-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.jb-weather-widget-today-details-text-margin {
  margin-left: 0.7rem;
}

.jb-weather-widget-main-screen-container {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.jb-weather-widget-right-screen-container {
  grid-column-start: 4;
  grid-column-end: 6;
  padding: 1rem;
}

.jb-weather-widget-geo-dropdown-container {
  position: relative;
  width: 16rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.jb-weather-widget-geo-dropdown-input-wrapper {
  background: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inerit;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
}

.jb-weather-widget-geo-dropdown-input {
  border: none;
  background: transparent;
  width: auto;
  outline: none;
}

.jb-weather-widget-geo-dropdown-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: inherit;
  max-height: 24rem;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.jb-weather-widget-geo-dropdown-list-item {
  font-size: 0.845rem;
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4px;
}

.jb-weather-widget-geo-dropdown-icons-wrapper > svg {
  cursor: pointer;
  margin-left: 8px;
}

/* .visible {
  display: block;
} */

.hidden {
  display: none;
}
